<h1><%= @topic.title %>
<% if policy(@topic).destroy? %>
          <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this topic?"} %>
<% end %>
</h1>
<% if policy(@topic).edit? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>
<%= render partial: 'bookmarks/bookmark', locals: {topic: @topic} %> 
<% if policy(Bookmark.new).create? %>
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>
<% end %>




  